/* font-family: 'Chathura', sans-serif;
font-family: 'Nixie One', cursive; */

/* ::root {
  
} */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  
}