:root {
  --clr-dark: 0 0% 0%; /* black*/
  --clr-light: 178 60% 55%; /* mediumturquoise */
  --clr-grey: 0, 0%, 50%;
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-400: 2rem;
  --fs-300: 1.75rem;

  /* font-families */
  --ff-serif: 'Chathura', sans-serif;
  --ff-cursive: 'Nixie One', cursive;
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: center;
}

html {
  width: 100vw;
  height: 100vh;
}
body {
  min-height: 100vh;
  position: relative;
}

img, svg {
  display: block;
  max-width: 100%;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  }

/* UTILITY CLASSES */
.full-screen {
  width: 100%;
  height: 100vh;
}
  .start-cover {
    display: block;
    cursor: pointer;
    position: absolute;
  }
    .overlay {
      position: absolute;
      height: 100%;
      background-color: hsl(var( --clr-grey ));
      z-index: 1;
      opacity: 0.7;
    }
    .start {
      z-index: 2;
      font-family: 'Moul', cursive;
      font-size: 2.5em;
    }
      @media (min-width: 600px){
        .start {
          font-size: 4em;
          max-width: 794px;
          margin: auto;
        }
      }

.grid {
  display: grid;
  grid-template-columns: repeat(3, 4em);
  grid-template-rows: repeat(5, 4em);
  gap: 0.5rem;
  margin: auto;
}
  @media (min-width: 720px) {
    .grid {
      grid-template-columns: repeat(4, 4.5em);
      grid-template-rows: repeat(4, 4.5em);
    }
  }
  @media (min-width: 850px) {
    .grid {
      grid-template-columns: repeat(5, 5.3em);
      grid-template-rows: repeat(4, 5.3em);
      gap: 0.8rem;
    }
  }

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-spacing {
  justify-content: space-between;
}

.container {
  margin: auto;
  max-width: 850px;
  padding: 1em 0.5em;
}
  @media (min-width: 680px) {
    .container {
      padding: 2em 1em;
    }
  }
  @media (min-width: 850px) {
    .container {
      padding: 1em;
    }
  }
  @media (min-height: 875px) {
    .container {
      padding-top: 2.5em;
    }
  }

.padding-left {
  padding-left: 0.6rem;
}
.padding-bottom {
  padding-bottom: 0.8rem;
}
  @media (min-width: 850px) {
    .padding-bottom {
      padding-bottom: 0;
    }
  }

.pos-relative {
  position: relative;
}

#memory-game {
  max-width: 812px;
}
.game-info {
  margin: 0.3em 1.3em;
}

/* COLORS */

.bg-light { background-color: hsl( var(--clr-light) ); }

.text-dark { color: hsl( var(--clr-dark) ); }

/* TYPOGRAPHY */

.ff-serif { font-family: var( --ff-serif ); }

.ff-cursive { font-family: var( --ff-cursive ); }

.letter-spacing-1 { letter-spacing: 1px; }

.uppercase { text-transform: uppercase; }

.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }

.f-weight { font-weight: bold; }

.fs-400,
.fs-300 {
  line-height: 1.5;
}

/* COMPONENTS */

.time-counter,
.matches-count {
  pointer-events: none;
}

/* button */
.btn {
  border: none;
  padding: 0.3rem;
  background-color: transparent;
  cursor: pointer;
}
  .btn:hover,
  .btn:active {
    color: hsl( var( --clr-white ) );
    fill: hsl( var( --clr-white ) );
  }

/* cards */
.cards {
  min-width: 80px;
  max-width: 900px;
  height: auto;
  justify-content: center;
}

.memory-card {
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s linear;
}
  .memory-card.isflipped{
    transform: translateX(-100%) rotateY(-180deg);
  }

.front-card,
.back-card {
  position: absolute;
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
  .front-card:hover,
  .front-card:active {
    border: 3px solid hsl( var(--clr-white) );
  }
  .back-card {
    border: 3px solid black;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

/* .front-card image */
.front-card {
  background-image: url("./assets/alexander-shatov-qt7S2QuAhJI-unsplash.jpg");
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
