::root {
  --clr-dark: 282 100% 41%; /* darkviolet*/
  --clr-light: 178 60% 55%; /* mediumturquoise */
  --clr-white: 0 0% 100%;

  /* font-sizes */
  --fs-600: clamp(4rem, 6vw + 1 rem, 6rem);
  --fs-500: 2.5rem;
  --fs-400: 2rem;
  --fs-300: 1.75rem;
  --fs-200: 1.5rem;
  --fs-100: 1rem;

  /* font-families */
  --ff-serif: 'Chathura', sans-serif;
  --ff-cursive: 'Nixie One', cursive;
}


/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  text-align: center;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

img, svg {
  display: block;
  max-width: 100%;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
  }

/* UTILITY CLASSES */
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap, 1rem);
  grid-template-rows: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.flex-spacing {
  justify-content: space-between;
}

.container {
  max-width: 85rem;
  padding: 2em;
}
